<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>notebook</title>
</head>
<body>
  <div id="menu">
    <ul>
      <li v-for="(item, index) in items">
        <span v-if="index!==0">|</span>
        <a :href="item.url">{{ item.text }}</a>
      </li>
    </ul>
  </div>
  <div id="sidebar"></div>
  <div id="editor">
    <textarea :value="input" @input="update"></textarea>
    <div class="markdown" v-html="compiledMarkdown"></div>
  </div>
  <script src="dist/bundle.js"></script>
</body>
</html>
